<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"

	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd ">

	<context:component-scan base-package="lqw.test.test_spring_aop"></context:component-scan>

	<bean id="targetclass" class="lqw.test.test_spring_aop.TargetClass"></bean>

	<!--声明扩展类 -->
	<bean id="extendsclass" class="lqw.test.test_spring_aop.ExtendsClass"></bean>
	<!--织入扩展类，并声明在哪个方法上执行扩展类的哪个方法 -->
	<aop:config>
		<aop:aspect id="extendAspect" ref="extendsclass">
			<aop:pointcut expression="execution(public * * (..))"
				id="extendsPoincat" />
			<!--在目标方法执行前执行的方法 -->
			<aop:before method="beforeMethod" pointcut-ref="extendsPoincat" />
			<!--在目标方法执行后执行的方法 -->
			<aop:after method="afterMethod" pointcut-ref="extendsPoincat" />
		</aop:aspect>
		<aop:aspect id="extendAspect1" ref="extendsclass">
			<aop:pointcut expression="execution(public * * (..))"
				id="extendsPoincat1" />
			<!--在目标方法执行前执行的方法 -->
			<aop:before method="beforeMethod1" pointcut-ref="extendsPoincat1" />
			<!--在目标方法执行后执行的方法 -->
			<aop:after method="afterMethod1" pointcut-ref="extendsPoincat1" />
		</aop:aspect>
	</aop:config>

	<aop:aspectj-autoproxy />

</beans>