<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd


	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


    <bean id="targetclass" class="lqw.test.test_spring_aop.TargetClass"></bean>

    <!--声明扩展类 -->
    <bean id="extendsclass" class="lqw.test.test_spring_aop.AspectClass"></bean>
    <!--织入扩展类，并声明在哪个方法上执行扩展类的哪个方法 -->
    <aop:config>
        <aop:aspect id="extendAspect" ref="extendsclass">
            <aop:pointcut expression="execution(public * * (..))"
                          id="extendsPoincat"/>
            <!--在目标方法执行前执行的方法 -->
            <aop:before method="beforeMethod1" pointcut-ref="extendsPoincat"/>
            <!--在目标方法执行后执行的方法 -->
            <aop:after method="afterMethod1" pointcut-ref="extendsPoincat"/>
        </aop:aspect>
        <aop:aspect id="extendAspect2" ref="extendsclass">
            <aop:pointcut expression="execution(public * * (..))"
                          id="extendsPoincat2"/>
            <!--在目标方法执行前执行的方法 -->
            <aop:before method="beforeMethod2" pointcut-ref="extendsPoincat2"/>
            <!--在目标方法执行后执行的方法 -->
            <aop:after method="afterMethod2" pointcut-ref="extendsPoincat2"/>
        </aop:aspect>
    </aop:config>
</beans>